/8В01_ТхиПарИРаспрВыч_ЛР1_ОрловДИ.docx
/8В01_ТхиПарИРаспрВыч_ЛР2_ОрловДИ.docx
/8В01_ТхиПарИРаспрВыч_ЛР3_ОрловДИ.docx
/LAb2OpenMP.xlsx
/Антонов. OpenMP.pdf
/Лабораторная работа 2. OpenMP.pdf
/Лабораторная работа 4. CUDA.pdf